@import '../../../styles/mixins.scss';

.main-page__title {
  margin-bottom: 0.5rem;
}

.main-page__description-service {
  margin: 1.5rem 0 2.5rem;
}

.main-page__description-service-wrapper {
  margin-top: 0.75rem;
}

.main-page__description-service-subtitle {
  margin-bottom: 0.25rem;
}

.main-page__upload {
  .ant-upload {
    width: 70%;

    @include flex-element(_, _, center);
  }
}

.main-page__upload-button {
  max-width: 8.75rem;
  flex-basis: 80%;
  margin-left: 1.25rem;

  @include adaptive(smartphone) {
    max-width: 100%;
    margin-left: 0;
  }
}
