@import '../../../styles/mixins.scss';

.houses-page__subtitle {
  margin-top: 1rem;
}

.houses-page__search {
  max-width: 18.75rem;
  margin-top: 0.5rem;
}

.houses-page__buttons-wrapper {
  margin-top: 3.125rem;

  @include flex-element(_, space-between);
}

.houses-page__upload-wrapper .houses-page__subtitle {
  margin-bottom: 0.5rem;
}
