@import '../../styles/mixins.scss';

.content-container {
  position: relative;
  width: 100%;
  max-width: 38.75rem;
  height: auto;
  padding: 1.5rem 2.5rem;
  margin: 0 0.625rem;
  background-color: $backgroundColor;
  border-radius: $contentBorderRadius;
  box-shadow: $boxShadow;

  @include adaptive(tablet) {
    position: static;
    margin: 0 auto;
  }

  @include adaptive(smartphone) {
    padding: 1.5rem;
  }
}
