.currentStage {
    width: 100%;
    height: auto;
    /* height: 580px; */
    overflow: auto;
    -ms-overflow-style: none; /* IE 11 */
    scrollbar-width: none; /* Firefox 64 */
}

.currentStage::-webkit-scrollbar { width: 3px; height: 3px;}
.currentStage::-webkit-scrollbar-track-piece { background-color: transparent;}
.currentStage::-webkit-scrollbar-thumb { height: 50px; background-color: #999;; border-radius: 3px;}



/* @media (max-height: 1000px) {
    .currentStage {
        height: 420px;
    }
}
@media (max-height: 880px) {
    .currentStage {
        height: 330px;
    }
}
@media (max-height: 768px) {
    .currentStage {
        height: 230px;
    }
}

@media (max-height: 700px) {
    .currentStage {
        height: 130px;
    }
} */