@import '../../styles/mixins.scss';

.form-layout {
  width: 100%;
}

.form-layout__inputs-group {
  display: flex;
  margin-top: 1rem;

  @include adaptive(mobile) {
    flex-wrap: wrap;
  }
}

.form-layout__input-label {
  position: relative;
  white-space: nowrap;

  @include flex-element(_, space-between);
}

.form-layout__input-wrapper {
  width: 100%;

  &_small {
    max-width: 8.75rem;
    margin-right: 1.25rem;

    @include adaptive(mobile) {
      max-width: calc(51% - 0.5rem);
      margin-right: 0;

      &:first-child {
        margin-right: 0.5rem;
      }
    }
  }

  &_pre-middle {
    max-width: 13.75rem;

    &:first-child {
      margin-right: 1.25rem;
    }

    @include adaptive(mobile) {
      max-width: 100%;

      &:first-child {
        margin-right: 0;
      }
    }
  }

  &_middle {
    max-width: 18.75rem;

    @include adaptive(mobile) {
      max-width: 100%;
    }
  }

  &_height-middle {
    max-width: 23.75rem;

    @include adaptive(mobile) {
      max-width: 100%;
    }
  }

  &_big {
    max-width: 100%;
  }

  .ant-form-item {
    margin: 0;
  }
}

.form-layout__copy-button {
  text-decoration: underline;

  @include adaptive(mobile) {
    position: absolute;
    top: 3.125rem;
    right: 0;
  }
}
