.redactor-description{
    background-color: #FFFFFF;
    width: 860px;
    padding: 40px;
    display: flex;
    flex-direction: row;
    margin-right: 21px;
    justify-content: center;
    z-index: 22;
}

.redactor-description p{
    font-family: Open Sans Light;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    width: 800px;
    margin-left: -50px;

    letter-spacing: 0.03em;

    color: #000000;

}
.redactor-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-top: 126px;
}

.redactor-pre-btn-circle{
    position: absolute;
    margin-left: 920px;
    margin-top: 60px;
}
.redactor-pre-btn-abs{
    margin-top: -20px;
    margin-left: -490px;
    position: absolute;
}

.redactor-description-header{
    clip-path: polygon(11% 0, 89% 0, 100% 100%, 0% 100%);
    margin-top: -510px;
    margin-left: 200px;
    background-color: #FFFFFF;
    position: absolute;
    width: 532px;
    height: 61px;
    display: flex;
    justify-self: center;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.redactor-description-header h1{
    font-family: Open Sans Light;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 130%;

    text-align: center;
    letter-spacing: 0.03em;

    color: #444444;
}

.redactor-description__triangle1{
    position: absolute;
    border: 50px solid transparent;
    border-top: 50px solid #f4f4f4;
    border-right: 50px solid #f4f4f4;

    margin-left: 840px;
    margin-top: -50px;
}
.redactor-description__triangle2{
    position: absolute;

    border: 50px solid transparent;
    border-right: 50px solid #f4f4f4;
    border-bottom: 50px solid #f4f4f4;

    margin-left: 840px;
    margin-top:340px;
}



@media (max-width: 1470px){
    .redactor-description-header{
        margin-top: -720px;

    }
    .redactor-description{
        width: 600px;

    }
    .redactor-description p{
        font-family: Open Sans Light;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 160%;
        width: 550px;

        letter-spacing: 0.03em;

        color: #000000;
    }


    .redactor-description-header{
        margin-top: -700px;
        margin-left: 70px;
    }
    .redactor-pre-btn-circle{
        margin-left: 670px;
    }

    .redactor-description__triangle1{
        display: none;
    }
    .redactor-description__triangle2{
        display: none;
    }
}
@media (max-width: 1300px){
    .redactor-description p{
        font-family: Open Sans Light;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 160%;
        width: 550px;
        margin-left: 30px;

        letter-spacing: 0.03em;

        color: #000000;
    }
    .redactor-wrapper{
        flex-direction: column;
        justify-self: center;
        align-self: center;

    }
    .redactor-description-header{
        margin-top: -700px;
        margin-left: -20px;
    }
    .redactor-description{
        background-color: #FFFFFF;
        width: 560px;
        padding: 40px;
        display: flex;
        flex-direction: row;
        margin-right: 21px;
        justify-content: center;
    }
    .redactor-description-header{
        margin-top: -60px;
    }
    .redactor-pre-btn-circle{
       display: none;
    }
}





















