.catalog{
    width: 100vw;
    display: flex;
    justify-self: center;
    align-self: center;

    flex-direction: column;

    overflow-x: hidden;
}

.pages{
    margin-left: -30px;
    width: 200px;
    margin-top: 30px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    align-self: center;
    justify-self: flex-end;
}
.page{
    cursor: pointer;
    color: #325FFF;
    margin-left: 30px;
}
.current-page{
    font-weight: bold;
    font-size: 22px;
    color: black;
}

    .cards-wrapper{
        width: 1800px;
        margin-top: -30px;
        margin-left: -20px;

        justify-self: center;
        align-self: center;
        flex-wrap: wrap;

        justify-content: center;

        display: flex;
        flex-direction: row;
        overflow-x: hidden;
    }

.cards-wrapper a{
    text-decoration: none;
}

@media (max-width: 1818px){
    .cards-wrapper {
        width: 1600px;
    }
}

@media (max-width: 1168px){
    .cards-wrapper {
        width: 1100px;
    }
}














