.house-page-slider-wrapper{
    margin-top: 103px;
    height: 744px;
    width: 940px;
    display: flex;
}

.slider{
    margin-top: 520px;
    width: 860px;
    min-width: 0;
    position: relative;
    outline: none;
}

.sliderbig{
    position: absolute;
    width: 940px;
    height: 500px;
    min-width: 0;
    outline: none;
}

/* Слайдер */
.slick-slider{

}

.sliderbig-item{
    outline: none;
}

.slider-item{
    outline: none;
}

.sliderbig-item img{
    width: 940px;
    height: 500px;
}

.slider-item img{
    width: 220px;
    height: 160px;
    margin-left: 20px;
    cursor: pointer;
    border: 2px solid transparent;
}

.slider-item img:hover{
    border: 2px solid #325FFF;
}

/* Ограничивающая оболочка */
.slick-list {
    overflow: hidden;
}
.sliderbig .slick-track{
    display: flex;
}

/* Лента слайдов */
.slider .slick-track{
    display: flex;
    margin-left: -20px;
}
/* Слайд */
.slick-slide{

}
/* Слайд активный (показывается) */
.slick-slide.slick-active{

}

/*Стрелка*/
.slick-arrow{
    position: absolute;
    top: 35%;
    z-index: 10;
}

/* Стрелка влево */
.slick-arrow.slick-prev{
    left: 0;
    display: none;
    font-size: 0;
    z-index: -1;
}

/* Стрелка вправо */
.slick-arrow.slick-next{
    outline: none;
    border: none;
    right: 0;
    cursor: pointer;
    left: 870px;
    font-size: 0;
    width: 32px;
    margin-top: -77px;
    height: 160px;
    background: url("../../assets/img/SliderArrow.svg")50% 50% no-repeat, url("../../assets/img/slider-arrow-bg.svg")0 0 no-repeat;
}
.slick-arrow.slick-next:hover{
    background: url("../../assets/img/ActiveSliderArrow.svg")50% 50% no-repeat, url("../../assets/img/slider-arrow-bg.svg")0 0 no-repeat;
}


/* Точки (булиты) */
.slick-dots{

}

.slick-dots li{

}
/* Активная точка */
.slick-dots li.slick-active button{

}
/* Элемент точки */
.slick-dots li button{

}

@media (max-width: 1818px){
    .sliderbig{
        width: 810px;
        margin-left: 130px;
    }
    .slider{
        width: 720px;
        margin-left: 130px;
    }
    .slick-arrow.slick-next{
        margin-left: -150px;
    }
    .house-card__checkout{
        margin-left: 135px;
    }
    .project-desription{
        margin-left: 135px;
    }
    .house-project-page-wrapper{
        margin-left: -100px;
    }
}

@media (max-width: 1452px){
    .sliderbig{
        width: 670px;
        margin-left: 130px;
    }
    .slider{
        width: 620px;
        margin-left: 130px;
    }
    .slick-arrow.slick-next{
        margin-left: -240px;
    }
    .house-card__checkout{
        margin-left: 135px;
    }
    .project-desription{
        margin-left: 135px;
    }

    .house-project-page__right-block{
        margin-left: -150px;
    }
    .house-card__checkout{
        margin-left: 195px;
    }
    .project-desription{
        margin-left: 195px;
    }

}

@media (max-width: 1309px){
    .house-project-page-wrapper{
        margin-left: -170px;
    }
}

@media (max-width: 1168px){
    .house-project-page__info-header{

    }
    .house-project-page__info-header__small{
        display: block;
    }
    .house-project-page-wrapper{
        margin-left: -120px;
    }
    .slider{
        display: none;
    }
    .investors-descriptions{
        margin-top: 300px;
    }
    .house-project-page__info-header{
        position: absolute;
        clip-path: polygon(27% 0, 64% 0, 100% 100%, 100% 100%, 0 100%, 0 100%);
        width: 620px;
        height: 150px;
        margin-top: -570px;
        margin-left: 255px;
    }
    .investors-house-project-page__info h1{
        position: absolute;
        margin-top: -570px;
        margin-left: 200px;
    }
    .investors-descriptions{
        margin-top: 90px;
    }
    .house-project-page__info h1{
        position: absolute;
        margin-top: -570px;
        margin-left: 200px;
    }
    .house-project-page__pre-btn-text p{
        margin-top: -480px;
        left: 45px;
        width: 200px;

        position: absolute;
    }
    .house-project-page__right-block{
        position: absolute;
        margin-left: 130px;
        margin-top: 503px;
    }
    .house-card__checkout{
        margin-top: 200px;
        margin-left: 360px;
    }
    .house-project-page__pre-btn-text{
        position: absolute;
        margin-left: 480px;
        margin-top: 60px;
        width: 200px;
    }
    .relis-date{
        position: absolute;
        margin-top: -30px;
        margin-left: 255px;
    }
    .project-desription{
        width: 600px;
        margin-left: 360px;
    }
    .map{
        display: none;
    }
    .map-btn-box{
        position: absolute;
        margin-left: 390px;
        margin-top: -70px;
    }
    .project-desription__placeholder{
        margin-top: -50px;
        position: absolute;
        margin-left: 360px;
    }
    .completed-page__ifrostructure{
        margin-left: 360px;
        width: 600px;
        margin-top: 80px;
    }
    .completed-page__info{
        margin-top: 240px;
        margin-left: -412px;
        flex-direction: column;
    }

    .investors-page-button{
        margin-top: 60px;
        margin-left: 20px;
    }
    .condition_of_terms{
        margin-left: 360px;
        margin-top: 20px;
    }
    .project-desription__invest{
        margin-top: -340px;
    }
}
@media (max-width: 1000px){
    .house-project-page-wrapper{
        margin-left: -210px;
    }
}
@media (max-width: 900px){
    .house-project-page-wrapper{
        margin-left: -260px;
    }
}

@media (max-width: 800px){
    .house-project-page-wrapper{
        margin-left: -310px;
    }

}
