@import '../../styles/mixins.scss';

.rights-wrapper {
  max-width: 33.75rem;
  margin: 1.5rem 0 2.25rem;

  @include flex-element(_, _, _, wrap);

  @include adaptive(mobile) {
    @include flex-element(column);
  }
}

.ant-checkbox-wrapper + .ant-checkbox-wrapper {
  margin-left: 0;
}

.rights-checkbox {
  width: 48%;
  margin: 0.25rem 0;

  @include adaptive(mobile) {
    width: 100%;
  }
}
