.slider-input{
    width: 191px;
    margin-left: -3px;
    margin-bottom: -2px;
    height: 40px;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #FFFFFF;

    border: 1px solid #C8C8C8;
    box-sizing: border-box;

    font-family: Open Sans Light;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;

    color: #989898;
}
.slider-input span{
    display: flex;
    flex-direction: row;
    margin-left: 4px;

    font-family: Open Sans Light;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;

    color: #989898;
}
.slider-input p{
    margin-top: 2px;
    margin-left: 4px;

    font-family: Open Sans Light;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;

    color: #989898;
}

.cost-slider{
    margin-top: -30px;
}

.input[type="value"]{
    align-self: center;
    justify-self: center;
}