@import '../../../styles/mixins.scss';

.admins-page__tabel {
  box-shadow: 0 0 1rem #00000012;
}

.admins-page__table-row {
  cursor: pointer;
}

.admins-page__subtitle {
  margin-top: 2.25rem;
}

.admins-page__buttons-wrapper {
  margin-top: 1.5rem;

  @include flex-element(_, space-between);

  @include adaptive(smartphone) {
    height: 5rem;

    @include flex-element(column, space-between);
  }
}

.popup.admins-page__popup-rights,
.admins-page__popup-addition {
  overflow: scroll;
  height: 100%;
  max-height: 32.25rem;
  padding: 2.5rem;

  .rights-wrapper {
    width: 100%;
    flex-direction: column;
  }

  .rights-checkbox {
    width: 100%;
  }

  .popup__title {
    width: 100%;
    font-size: 1.5rem;
  }

  .popup__buttons-wrapper {
    padding-bottom: 2.5rem;
  }

  @include adaptive(mobile) {
    padding: 1.25rem;
  }
}

.admins-page__popup-confirm {
  height: 15.625rem;
  justify-content: space-between;
  padding: 2.5rem;

  @include adaptive(mobile) {
    padding: 1.25rem;
  }
}

.admins-page__form {
  width: 100%;

  .ant-form-item-required {
    &::after,
    &::before {
      display: none !important;
    }
  }
}
