@import './mixins.scss';

* {
  padding: 0;
  margin: 0;
}

.control-panel h1 {
  margin: 0;
  color: $textColor !important;
  font-size: 2.25rem;
}

.control-panel h2 {
  margin: 0;
  color: $textColor !important;
  font-size: 1.5rem;
}

.control-panel h3 {
  margin: 0;
  color: $textColor !important;
  font-size: 1.125rem;
}

.control-panel h4 {
  margin: 0;
  color: $textColor !important;
  font-size: 0.875rem;
}

.control-panel p {
  margin: 0;
}

.control-panel li {
  list-style: none;
}

.control-panel button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-family: 'OpenSans', sans-serif;
  outline: none;
}

.control-panel a {
  color: $textColor;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    color: $blueAccent;
  }
}

.control-panel img {
  width: 100%;
  height: 100%;
  pointer-events: none;
  vertical-align: initial;
}

.global-wrapper {
  position: absolute;
  overflow: hidden;
  min-height: 100vh;

  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto Condenced', sans-serif;
}

.main-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  overflow-x: hidden;
}

.control-panel {
  position: relative;
  min-height: 100vh;
  font-size: 0.875rem;
  box-sizing: border-box;
  background-color: $bodyColor;
  color: $textColor;
  font-family: 'OpenSans', sans-serif;
  line-height: normal;
}

.control-panel__content {
  padding-top: 5rem;

  @include wrapper();
  @include flex-element(_, space-between);
}

.control-panel__menu_content {
  @include adaptive(tablet) {
    display: none;
  }
}

.ant-input,
.ant-input-password,
.ant-input-affix-wrapper {
  color: $formsTextColor;

  &:hover,
  &:focus {
    border-color: $blueAccent;
  }
}

.ant-input-search-button {
  border-color: $blueAccent;
  background: $blueAccent;
}

.ant-table-pagination,
.ant-pagination-options {
  display: none;
}
