$blueAccnet: #325fff;
$redWarning: #ff3232;
$textColor: #2e2e2e;
$formsTextColor: #444444;
$formsBorderColor: #989898;
$inActiveButtonsColor: #c8c8c8;
$isActiveBackFormsColor: #ececec;
$selectHoverColor: #f3f3f3;
$bodyColor: #e5e5e5;
$backgroundColor: #ffffff;
$overlayColor: #4b4b4ba1;

$boxShadow: 0 0.625rem 1.25rem 0 #adadad12;
$contentBorderRadius: 0.25rem;

/* stylelint-disable */
@mixin adaptive($device) {
  @if ($device == mobile) {
    @media (max-width: 394px) {
      @content;
    }
  } @else if ($device == smartphone) {
    @media (max-width: 669px) {
      @content;
    }
  } @else if ($device == tablet) {
    @media (max-width: 991px) {
      @content;
    }
  } @else if ($device == notebook) {
    @media (max-width: 1135px) {
      @content;
    }
  }
}
/* stylelint-enable */

@mixin wrapper() {
  width: 91vw;
  max-width: 940px;
  margin: 0 auto;
}

@mixin flex-element($direction: row, $justify: normal, $align: normal, $wrap: nowrap) {
  display: flex;
  flex-direction: $direction;
  flex-wrap: $wrap;
  align-items: $align;
  justify-content: $justify;
}

@mixin absolute-element-center() {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

@mixin animation(
  $name: none,
  $duration: 0.5s,
  $delay: 0s,
  $fill-mode: both,
  $timing: ease,
  $iteration: initial
) {
  animation-delay: $delay;
  animation-duration: $duration;
  animation-fill-mode: $fill-mode;
  animation-iteration-count: $iteration;
  animation-name: $name;
  animation-timing-function: $timing;
}
