$blueAccnet: #325fff;
$redWarning: #ff3232;
$textColor: #2e2e2e;
$formsTextColor: #444444;
$formsBorder: #989898;
$inActiveButtons: #c8c8c8;
$isActiveBackForms: #ececec;
$selectHover: #f3f3f3;
$bodyColor: #e5e5e5;
$backgroundColor: #ffffff;

$boxShadow: 0 0.625rem 1.25rem 0 #adadad12;
