@import '../../styles/mixins.scss';

.content-container {
  position: relative;
  width: 100%;
  max-width: 43.75rem;
  height: 31.375rem;
  padding: 1.5rem 2.5rem;
  background-color: $backgroundColor;
  border-radius: $contentBorderRadius;
  box-shadow: $boxShadow;

  @include adaptive(tablet) {
    position: static;
    margin: 0 auto;
  }
}
