.favorite-wrapper{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.favorite-catalog{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1820px;

    justify-content: center;
}

.choose-catalog__buttons__favorites{
    display: flex;
    flex-direction: row;
}

.choose-catalog__buttons__favorites .completed-homes{
    border-left: none;
    border-right: none;
}

.choose-catalog__buttons__favorites .for-investors{
    border-top: 1px solid #C8C8C8;
}

@media (max-width: 1818px){
    .favorite-catalog {
        width: 1600px;
    }
}

@media (max-width: 1168px){
    .favorite-catalog {
        width: 1100px;
    }

    .choose-catalog__buttons__favorites .completed-projects{
        border: 1px solid #C8C8C8;
        width: 188px;
    }

    .choose-catalog__buttons__favorites .completed-homes{
        border-left: none;
        border-right: none;
        width: 188px;
    }

    .choose-catalog__buttons__favorites .for-investors{
        border-top: 1px solid #C8C8C8;
        width: 188px;
    }
    .choose-catalog .favorite-header-h1{
        margin-left: -420px;
    }
}
