.saved-projects{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-self: flex-start;
    align-self: flex-start;
}
.saved-projects h1{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 0.03em;
    color: #444444;
}
.saved-projects-line{
    display: flex;
    flex-direction: row;
    margin-left: -20px;
}
.look-all-saved-btn-box{
    align-self: flex-start;
    margin-top: 36px;
}