.interactive {
    /* grid-column: content;
    grid-row: interactive; */
    position: relative;
    min-height: min-content;
    width: 100vw;
  }
  @media (min-width: 768px) {
    .interactive {
      grid-area: interactive;
      
    }
  }