@import '../../styles/mixins.scss';

.custom-button {
  width: 100%;
  max-width: 18.75rem;
  height: 2.25rem;

  &_primary {
    border-color: $blueAccent;
    background-color: $blueAccent;
  }

  &_default {
    border-width: 2px;
    border-color: $blueAccent;
    color: $blueAccent;
  }

  &_delete {
    max-width: 13.75rem;
    border: none;
    background: transparent !important;
    color: $redWarning;

    span {
      text-decoration: underline;
    }
  }

  @include adaptive(mobile) {
    max-width: 100%;
  }
}
