@import '../../styles/mixins.scss';

.custom-button {
  width: 100%;
  max-width: 18.75rem;
  height: 2.5rem;

  &_primary {
    border-color: $blueAccnet;
    background-color: $blueAccnet;
  }

  &_default {
    border-width: 2px;
    border-color: $blueAccnet;
    color: $blueAccnet;
  }
}
