@import '../../../styles/mixins.scss';

.admins-page__tabel {
  box-shadow: 0 0 1rem #00000012;
}

.admins-page__table-row {
  cursor: pointer;
}

.admins-page__subtitle {
  margin-top: 2.25rem;
}

.admins-page__buttons-wrapper {
  margin-top: 24px;

  @include flex-element(_, space-between);

  @include adaptive(smartphone) {
    height: 80px;

    @include flex-element(column, space-between);
  }
}

.popup.admins-page__popup-rights {
  height: 500px;

  .rights-wrapper {
    width: 100%;
    flex-direction: column;
  }

  .rights-checkbox {
    width: 100%;
  }

  .popup__title {
    width: 100%;
    font-size: 24px;
  }
}
