@import '../../../styles/mixins.scss';

.through-elements-page__phone-input {
  max-width: 13.75rem;
}

.through-elements-page__mail-input {
  max-width: 23.75rem;
}

.through-elements-page__input-wrapper {
  @include flex-element(_, _, center);
  margin: 0.5rem 0;
}

.through-elements-page__social-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.through-elements-page__link-input {
  margin-left: 2.5rem;

  @include adaptive(mobile) {
    margin-left: 1.5rem;
  }
}
