@import '../../styles/mixins.scss';

.popup {
  width: 100%;
  max-width: 400px;
  height: 9.3125rem;
  padding: 0.75rem;
  margin: 0 1.25rem;
  background-color: $backgroundColor;
  border-radius: 2px;

  @include flex-element(column, space-evenly, center);

  @include adaptive(notebook) {
    position: fixed;
    padding: 2.5rem;

    @include absolute-element-center();
  }
}

.popup__buttons-wrapper {
  width: 100%;

  @include flex-element(_, space-evenly, center);
}

.button_popup {
  max-width: 145px;
  margin: 0 0.25rem;
}
