@import '../../styles/mixins.scss';

.menu {
  display: none;
  width: 13.75rem;
  max-height: 23.625rem;
  background-color: $backgroundColor;
  border-radius: $contentBorderRadius;
  box-shadow: $boxShadow;
  font-size: 0.875rem;

  &_show {
    display: block;
  }
}

.menu__wrapper {
  padding: 0.625rem 1rem 1.5rem;
}

.menu__link-wrapper {
  @include flex-element(_, normal, center);
  height: 1.1875rem;
  margin: 0.875rem 0;
  text-decoration: none;

  &_active {
    border-right: 1px solid $blueAccnet;
    color: $blueAccnet;
  }
}

.menu__link-icon {
  width: 1rem;
  height: 1rem;
  pointer-events: none;
}

.menu__link {
  margin-left: 0.5rem;
  pointer-events: none;
  transition: 0.2s;

  &:active {
    margin-left: 0.7rem;
  }
}
