.main-circle{
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    justify-self: center;
    align-items: center;

    overflow: hidden;

    position: relative;
}


/*--------------Animation-------------*/
@keyframes spin-1 {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

@keyframes spin-2 {
    from {transform:rotate(360deg);}
    to {transform:rotate(0deg);}
}


/*--------Main Circle Wrapper--------*/


/*---------------Pre-main Circle One------------*/
.pre-circles{
    position: absolute;
    width: 300px;
    height: 300px;
    
    display: flex;
}

/*---------------Pre-Circle-One------------*/
.pre-circle-1{
    position: absolute;
    margin-top: -370px;
    margin-left: -376px;

    width: 1050px;
    height: 1050px;

    transform: rotate(41deg);
}
@keyframes loading-1 {
    from {stroke-dasharray: 0 400;}
    to {stroke-dasharray: 102 308;}
}
.pre-circle-1-preload{
    animation: loading-1 0.6s linear 0s forwards;
}
/*---------------Pre-Circle-Two------------*/
.pre-circle-2{
    position: absolute;
    margin-top: -380px;
    margin-left: -380px;

    width: 1050px;
    height: 1050px;

    transform: rotate(166deg);
}
@keyframes loading-2 {
    from {stroke-dasharray: 0 400;}
    to {stroke-dasharray: 143.86 256.14;}
}
.pre-circle-2-preload{
    transition-timing-function: ease-out;
}
.pre-circle-2-preload{
    animation: loading-2 0.6s linear 0s forwards ;
}
/*---------------Pre-Circle-Three------------*/
.pre-circle-3{
    position: absolute;
    margin-top: -370px;
    margin-left: -378px;

    width: 1050px;
    height: 1050px;

    transform: rotate(-33deg);
}
.pre-circle-3-preload{
    animation: loading-6 0.6s linear 0s forwards;
}
@keyframes loading-6 {
    from {stroke-dasharray: 0 400;}
    to {stroke-dasharray: 55 345;}
}
/*---------------Inside-Circle-One------------*/
.inside-main-circle-1{
    position: absolute;
    margin-top: -335px;
    margin-left: -335px;

    width: 970px;
    height: 970px;

    transform: rotate(0deg);
}
@keyframes loading-7 {
    from {stroke-dasharray: 0 400;}
    to {stroke-dasharray: 140 260;}
}
.inside-main-circle-1-preload{
    animation: loading-7 0.6s linear 0s forwards;
}
.inside-main-circle-1{
    animation: spin-1 32s linear 0s infinite;
}
/*---------------Inside-Circle-Two------------*/
.inside-main-circle-2{
    position: absolute;
    margin-top: -320px;
    margin-left: -320px;

    width: 940px;
    height: 940px;

    transform: rotate(-3deg);
}
@keyframes loading-8 {
    from {stroke-dasharray: 0 400;}
    to {stroke-dasharray: 40 360;}
}
.inside-main-circle-2{
    animation: spin-2 32s linear 0s infinite;
}
.inside-main-circle-2-preload{
    animation: loading-8 0.6s linear 0s forwards;
}

/*---------------Main-menu-Line-One------------*/
.pre-menu-line-1{
    position: absolute;

    margin-top: -318px;
    margin-left: 422px;

    width: 80px;
    height: 11px;

    transform: rotate(-55deg);
}
@keyframes loading-3 {
    from {width: 0}
    to {width: 120px}
}
.pre-menu-line-1-preload{
    animation: loading-3 0.6s linear 0s forwards;
}
/*---------------Main-menu-Line-Two------------*/
.pre-menu-line-2{
    position: absolute;
        margin-top: -462px;
        margin-left: -454px;

    width: 1200px;
    height: 1200px;

    transform: rotate(-55deg);
}
@keyframes loading-4 {
    from {stroke-dasharray: 0 400;}
    to {stroke-dasharray: 25.3 374.7;}
}
.pre-menu-line-2-preload{
    animation: loading-4 0.6s linear 0s forwards;
}
/*---------------Main-menu-Line-Three------------*/
.pre-menu-line-3{
    position: absolute;

    margin-top: -153px;
    margin-left: 570px;

    width: 96px;
    height: 20px;

    transform: rotate(-213deg);
}
@keyframes loading-5 {
    from {width: 0}
    to {width: 105px}
}
.pre-menu-line-3-preload{
    animation: loading-5 0.6s linear 0s forwards;
}
/*---------------Main-menu-Line-Four------------*/
.pre-menu-line-4{
    position: absolute;

    border-radius: 50%;
    margin-left: -380px;
    margin-top: -400px;

    width: 1100px;
    height: 1100px;
    transform: rotate(-26deg);
}
@keyframes loading-9 {
    from {stroke-dasharray: 0 400;}
    to {stroke-dasharray: 37 363;}
}
.pre-menu-line-4-preload{
    animation: loading-9 0.6s linear 0s forwards;
}










.sub-circle-1{
    position: absolute;
}

.sub-circle-1-container{
    position: absolute;
    width: 850px;
    height: 680px;
    margin-top: 40px;
    margin-left: -204px;

    background-color: orange;
    opacity: 0.2;
    cursor: pointer;
    overflow: hidden;
}
.progress{
    transform: rotate(5deg);
}
.sub-circle-1-container:after{
    content: '';
    position: absolute; bottom: 0; left: 0;
    width: 100%;
    height: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.sub-circle-1-container:hover:after{
    height: 100%;
}

.sub-circle-2{
    position: absolute;
    margin-top: 430px;
    margin-left: -6px;
}
.sub-circle-3{
    position: absolute;
    margin-left: 475px;
    margin-top: -27px;

}
.sub-circle-4{
    position: absolute;
    margin-left: 545px;
    margin-top: -90px;
}
.pre-menu-circle-1{
    position: absolute;
    margin-top: -403px;
    margin-left: 425px;
}
.pre-menu-circle-2{
    position: absolute;
    margin-top: -457px;
    margin-left: 315px;
}
.pre-menu-circle-3{
    position: absolute;
    margin-top: -292px;
    margin-left: 467px;
}

.circle-bg{
    height: 1000px;
    width: 1000px;

    border-radius: 50%;
}

.circle-bg img{
    height: 1005px;
    width: 1005px;

    margin-left: -5px;
    margin-top: 0px;

    object-fit: cover;
    border-radius: 50%;
}

/*--------inside Circle Wrapper--------*/
.inside-circles-1{
    position: absolute;

    height: 964px;
    width: 964px;
    border-radius: 50%;

    overflow: hidden;
}
.inside-circle-1{
    position: absolute;

    margin-top: 0px;
    margin-left: 243px;
}
.inside-circles-1{
    animation: spin-1 8s linear 0s infinite;
}

.inside-circles-2{
    position: absolute;

    height: 924px;
    width: 924px;
    border-radius: 50%;
    overflow: hidden;
}
.inside-circle-2{
    position: absolute;

    margin-top: 88px;
    margin-left: -30px;
}
.inside-circles-2{
    animation: spin-2 8s linear 0s infinite;
}

/*--------Main Menu Buttons--------*/

@keyframes menu-anim {
    0% {opacity: 0}
    60% {opacity: 0}
    100% {opacity: 1}
}
.main-menu-btn{
    animation: menu-anim 1s linear 0s forwards;
}

.main-menu-btn{
    position: absolute;

    margin-top: -859px;
    margin-left: 687px;


    width: 60px;
    height: 70px;

    clip-path: polygon(0 0, 100% 0, 92% 100%, 8% 100%);

    background: rgba(0,56,255, 0.2);

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    transform: rotate(38deg);

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    z-index: 501;
}


.menu-icon{
    opacity: 1;
    transform: rotate(-37deg);
}

/*------------Main Menu Hover---------*/
.main-menu-btn:hover{
    background: rgba(0,56,255, 0.8);
}
.main-menu-btn:hover .menu-icon path{
    stroke: #FFFFFF;
}

.user-menu-btn{
    animation: menu-anim 1s linear 0s forwards;
}
.user-menu-btn{
    position: absolute;

    margin-top: -770px;
    margin-left: 783px;

    width: 60px;
    height: 70px;

    background: rgba(0,56,255, 0.2);

    clip-path: polygon(0 0, 100% 0, 92% 100%, 8% 100%);

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    transform: rotate(47deg);

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    z-index: 501;
}
/*------------Main Menu Active---------*/
.main-menu-btn-active .menu-icon path{
    stroke: #444444;
}
.main-menu-btn-active .menu-icon{
    margin-top: -24px;
}
.main-menu-btn-active{
    height: 100px;
    margin-top: -847px;
    margin-left: 671px;

    background-color: #FFFFFF;
}
.main-menu-btn-active:hover{
    background-color: #FFFFFF;
}
.main-menu-btn-active:hover .menu-icon path{
    stroke: #444444;
}

.main-menu-popup{
    position: absolute;
    width: 134px;
    height: 144px;
    clip-path: polygon(15% 0, 100% 0, 100% 85%, 85% 100%, 0 100%, 0 15%);

    margin-top: -650px;
    margin-left: 493px;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 24px 12px;

    background-color: #FFFFFF;

    z-index: 501;
}
.main-menu-popup ul{
    margin-top: -16px;
}
.main-menu-popup ul li{
    font-family: Open Sans Light;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    list-style-type: none;
    margin-top: 16px;

    color: #000000;
    cursor: pointer;
}
.main-menu-popup ul li a{
    text-decoration: none;
    font-family: Open Sans Light;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */


    color: #000000;
}


/*------------User Menu Hover---------*/
.user-icon{
    transform: rotate(-47deg);
}
.user-menu-btn:hover{
    background: rgba(0,56,255, 0.8);
}
.user-menu-btn:hover .user-icon path{
    stroke: #FFFFFF;
}
/*------------User Menu Active---------*/
.user-menu-btn-active .user-icon path{
    stroke: #444444;
}
.user-menu-btn-active .user-icon{
    margin-top: -24px;
}
.user-menu-btn-active{
    height: 100px;
    margin-top: -747px;
    margin-left: 771px;

    background-color: #FFFFFF;
}
.user-menu-btn-active:hover{
    background-color: #FFFFFF;
}
.user-menu-btn-active:hover .user-icon path{
    stroke: #444444;
}

.regist-form{
    position: absolute;
    margin-left: -700px;
    margin-top: -100px;
}

.registr-form__p p{
    position: absolute;
    width: 140px;
    margin-top: -290px;
    cursor: pointer;
    z-index: 1200;
    margin-left: 535px;
    font-family: Open Sans Light;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;

    display: flex;
    align-items: flex-end;

    color: #325FFF;
}

.user-menu-popup{
    position: absolute;
    clip-path: polygon(10% 0, 100% 0, 100% 70%, 75% 100%, 0 100%, 0 11%);
    width: 386px;
    height: 311px;

    margin-top: -365px;
    margin-left: 305px;


    background-color: #FFFFFF;

    padding: 24px;

    z-index: 501;
}

.user-menu-popup h1{
    margin-left: 30px;
    margin-top: 10px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;


    color: #000000;
}

.user-menu-popup input{
    margin-top: 8px;
    width: 200px;
    height: 40px;
    outline: none;

    background: #FFFFFF;
    /* Серый рамки текст */

    box-sizing: border-box;
}

.user-menu-popup form{
    margin-top: 24px;
    margin-left: 30px;
}

.user-menu-popup label{
    font-family: Open Sans Light;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;

}
.password-box{
    margin-top: 16px;
}

.user-menu-popup input{
    width: 320px;
    height: 40px;
    padding: 15px;
    display: inline-block;
    border: 1px solid #D9D9D9;
    background: #ffffff;
}

.user-menu-popup button{
    cursor: pointer;
    margin-top: 32px;
    width: 80px;
    height: 40px;
    outline: none;
    border: none;
    margin-left: 30px;

    background: #325FFF;
}

.registerbtn{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    color: #FFFFFF;

    cursor: pointer;
}

.user-menu-popup p{
    margin-top: 12px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;

    color: #444444;
}
.forgot-passwd{
    position: absolute;
    width: 300px;
    margin-top: -140px;
    margin-left: 257px;
}

.forgot-passwd a{
    font-family: Open Sans Light;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: #8C8C8C;


    display: flex;
    align-items: flex-end;
    text-align: right;
    text-decoration-line: underline;
}

.registration a{
    position: absolute;
    margin-left: 130px;
    margin-top: -30px;
    font-family: Open Sans Light;
    color: #262626;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-decoration-line: underline;
}


/*--------------Left Menu-----------*/
.left-btns {
    flex-wrap: nowrap;
    overflow: hidden;
    position: absolute;
    display: flex;
    flex-direction: column;

    margin-left: -555px;
    margin-top: 470px;
    z-index: -1;
}
@keyframes loading-27 {
    0%{margin-left: -1030px;
    opacity: 0}
    99%{margin-left: -1050px; z-index: -1}
    100%{margin-left: -1058px; z-index: 1;
    opacity: 1}
}
.left-btns{
    animation: loading-27 0.3s linear 0.55s forwards;
}

.prepared-block p{
    position: absolute;
    margin-top: -65px;
    margin-left: 90px;

    font-family: Open Sans Light;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;

    color: #444444;
    cursor: pointer;
}

.prepared-block h1{
    margin-top: -50px;
    margin-left: 90px;

    position: absolute;
    font-family: Open Sans Light;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;

    color: #444444;
    cursor: pointer;
}
.prepared-block:hover p{
    color: #FFFFFF;
}
.prepared-block:hover h1{
    color: #FFFFFF;
}

.prepared-block:hover .prepared-houses{
    cursor: pointer;
    opacity: 1;
}
.investors-block:hover .for-investors-houses{
    opacity: 1;
    cursor: pointer;
}

.prepared-icon{
    position: absolute;
    margin-top: 25px;
    margin-left: -180px;
    cursor: pointer;
}
.prepared-block:hover .prepared-icon .check{
    fill: #FFFFFF;
}
.investors-block:hover .for-investors-icon .percent-circle1{
    fill: #FFFFFF;
}
.investors-block:hover .for-investors-icon .percent-circle2{
    fill: #FFFFFF;
}
.investors-block:hover .for-investors-icon .percent-stick{
    fill: #FFFFFF;
}


.for-investors-icon{
    position: absolute;
    margin-top: 20px;
    margin-left: -250px;
    cursor: pointer;
}
.investors-block p{
    position: absolute;
    margin-top: -70px;
    margin-left: 90px;

    font-family: Open Sans Light;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    cursor: pointer;
    color: #444444;
}
.investors-block h1{
    position: absolute;
    margin-top: -55px;
    margin-left: 90px;

    font-family: Open Sans Light;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    cursor: pointer;
    color: #444444;
}
.investors-block:hover p{
    color: #FFFFFF;
}
.investors-block:hover h1{
    color: #FFFFFF;
}











.phone-menu-btn{
    animation: menu-anim 1s linear 0s forwards;
}

.phone-menu-btn{
    position: absolute;

    margin-top: -665px;
    margin-left: 868px;

    width: 60px;
    height: 70px;

    background: rgba(0,56,255, 0.2);

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    clip-path: polygon(0 0, 100% 0, 92% 100%, 8% 100%);

    transform: rotate(55deg);

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    z-index: 501;
}
.phone-icon{
    transform: rotate(-56deg);
}

/*------------Phone Menu Hover---------*/
.phone-menu-btn:hover{
    background: rgba(0,56,255, 0.8);
}
.phone-menu-btn:hover .phone-icon path{
    stroke: #FFFFFF;
    fill: #FFFFFF;
}
/*------------Phone Menu Active---------*/
.phone-menu-btn-active .phone-icon{
    margin-top: -23px;
}
.phone-menu-btn-active .phone-icon path{
    margin-top: -23px;
    stroke: #444444;
    fill: #444444;
}
.phone-menu-btn-active:hover{
    background-color: #FFFFFF;
}
.phone-menu-btn-active:hover .phone-icon path{
    background-color: #FFFFFF;
    stroke: #444444;
    fill: #444444;
}

.phone-menu-btn-active{
    height: 100px;
    margin-top: -650px;
    margin-left: 850px;

    background-color: #FFFFFF;
}
.phone-menu-popup{
    position: absolute;
    clip-path: polygon(10% 0, 100% 0, 100% 83%, 86% 100%, 0 100%, 0 11%);

    margin-top: -420px;
    margin-left: 570px;

    width: 200px;
    height: 170px;

    padding: 24px;

    background-color: #FFFFFF;

    z-index: 501;
}
.phone-menu-popup h1{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;

    color: #444444;
}
.phone-menu-popup h2{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    margin-top: 10px;

    text-decoration-line: underline;

    color: #325FFF;
}

.phone-menu-popup h3{
    font-family: Open Sans Light;
    width: 120px;
    margin-top: 24px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;

    color: #444444;
}

.phone-menu-popup button{
    clip-path: polygon(100% 0, 100% 52%, 92% 100%, 0 100%, 0 0);
    margin-top: 10px;
    width: 200px;
    height: 36px;

    background: #325FFF;
    cursor: pointer;
    outline: none;
    border: none;
    margin-bottom: 10px;
}

.phone-menu-popup span{
    width: 90px;


    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;

    color: #444444;
}

.create-house-btn{
    position: absolute;
    margin-top: 570px;
    cursor: pointer;
    margin-left: -80px;

}

.create-house-btn p{
    -webkit-user-select: none;
    -moz-uzer-select:none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
    margin-top: -70px;
    margin-left: 20px;

    font-family: Open Sans Light;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;

    color: #444444;
}
.create-house-btn h1{
    -webkit-user-select: none;
    -moz-uzer-select:none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;

    margin-top: -50px;
    margin-left: 40px;

    font-family: Open Sans Light;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;

    display: flex;
    align-items: flex-end;

    color: #444444;
}
.i-circle{
    position: absolute;

    margin-top: -74px;
    margin-left: 130px;

    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #FFFFFF;

    display: flex;
    justify-content: center;
    align-items: center;
}
.i-circle span{
    color: #325FFF;
    margin-top: 2px;
    font-size: 19px;
}

.in-circle-logo{
    position: absolute;
    margin-top: 780px;
}



.left-text-block{
    position: absolute;
    display: flex;
    flex-direction: column;
}
@keyframes main-text {
    from {margin-left: -1500px; opacity: 0}
    to {margin-left: -1480px; opacity: 1}
}
.left-text-block {
    animation: main-text 0.2s linear 0.2s forwards;
}

.left-text-block h1{
    width: 300px;
    font-family: Angry;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 53px;
    color: #444444;
}
.left-text-block p{
    width: 206px;
    font-family: Open Sans Light;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #444444;
}


.right-text-block{
    overflow: hidden;
    width: 300px;
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-left: 1400px;
    margin-top: -220px;
}
.right-text-block h1{
    -webkit-user-select: none;
    -moz-uzer-select:none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 33px;
    margin-left: -120px;
    font-family: Angry;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 53px;

    color: #444444;
}
@keyframes loading-23 {
    from {margin-left: 110px;
    opacity: 0}
    to {margin-left: 125px;
    opacity: 1}
}
@keyframes loading-23-p {
    from {margin-left: -125px;
        opacity: 0}
    to {margin-left: -110px;
        opacity: 1}
}

.first-right-text{
    animation: loading-23 0.3s linear 2.5s forwards;
}
.first-right-text p{
    animation: loading-23-p 0.3s linear 2.5s forwards;
}


.right-text-block p{
    -webkit-user-select: none;
    -moz-uzer-select:none;
    -ms-user-select: none;
    user-select: none;
    font-family: Open Sans Light;
    margin-left: -390px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #444444;
}

.second-right-text{
    margin-left: -10px;
}

@keyframes loading-24 {
    from {margin-left: 145px;
        opacity: 0}
    to {margin-left: 155px;
        opacity: 1}
}

@keyframes loading-24-p {
    from {margin-left: -120px;
        opacity: 0}
    to {margin-left: -110px;
        opacity: 1}
}

.second-right-text{
    animation: loading-24 0.3s linear 2.7s forwards;
}
.second-right-text p{
    animation: loading-24-p 0.3s linear 2.7s forwards;
}



.black-screen{
    position: absolute;
    width: 100vw;
    height: 100%;

    background: #000000;
    opacity: 0.4;

    z-index: 500;
}

.black-screen-catalog{
    margin-top: 60px;
    position: absolute;
    width: 100vw;
    height: 100%;

    background: #000000;
    opacity: 0.4;

    z-index: 500;
}

@keyframes loading-25 {
    from {margin-left: 150px;
        opacity: 0}
    to {margin-left: 160px;
        opacity: 1}
}
@keyframes loading-25-p {
    from {margin-left: -120px;
        opacity: 0}
    to {margin-left: -110px;
        opacity: 1}
}

.third-right-text{
    animation: loading-25 0.3s linear 2.9s forwards;
}

.third-right-text p{
    animation: loading-25-p 0.3s linear 2.9s forwards;
}






















