.central-btn-wrapper{
    width: 100px;
    height: 100px;
    cursor: pointer;
    z-index: 22;
    margin-left: 270px;

    margin-top: 570px;

    position: absolute;
    border-radius: 50%;
}

.central-btn{
    width: 100px;
    height: 100px;

    border-radius: 50%;
    background-color: #325FFF;
}

.central-btn-wrapper:hover .central-btn{
    background-color: white;
}
.central-btn-circle1{
    width: 100px;
    height: 100px;
}
.central-btn-circle1 circle{
    stroke: white;
}

.central-btn-wrapper:hover .central-btn-circle1 circle{
    stroke: #325FFF;
}

.central-btn-circle2-box{
    width: 84px;
    height: 84px;

    position: absolute;
    margin-top: 8px;
    margin-left: 8px;
}
.central-btn-wrapper:hover .central-btn-circle2-box{
    animation: spin-2 2s linear 0s infinite;
}
.central-btn-circle1-box{
    width: 100px;
    height: 100px;

    position: absolute;
}
.central-btn-wrapper:hover .central-btn-circle1-box{
    animation: spin-1 2s linear 0s infinite;
}


.central-btn-circle2{
    position: absolute;
    width: 84px;
    height: 84px;
}
.central-btn-circle2 circle{
    stroke: white;
}

.central-btn-wrapper:hover .central-btn-circle2 circle{
    stroke: #325FFF;
}

.central-btn-icon{
    position: absolute;

    margin-left: 25px;
    margin-top: 25px;
}
.central-btn-wrapper:hover .central-btn-icon path{
    fill: #325FFF;
}











